.heading{
    width: 100%;
    text-align: left;
    font-size: 23px;
}
.heading button{
    float: right;
}

#playgame, #restart{
    font-size: 20px;
}
#status{
    font-size: 18px;
}

.rules{
    font-size: 23px;
    text-align: left;
}

#footer{
    width: 100%;
    position:sticky;
    background-color: white;
    font-size: 20px;
    bottom: 0;
}